.box{
    background-color:  #e6fff5;
    border-radius: 10px;
}
body{
    background-image: url(doctor_home-background.png);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: black;
  }